<app-p-details-nav />
<main class="project-details">
  <app-p-details-title
    [projectName]="project()?.name"
    [projectShortDescription]="project()?.short_description"
  />
  <app-p-details-snapshot [projectSnapshot]="project()?.snapshot" [projectName]="project.name" />
  <app-p-details-description [projectLongDescription]="project()?.long_description" />
  <app-p-details-content [projectDetails]="project()" [technologies]="technologies()" />
  <app-p-details-more [moreProjects]="otherProjects()" />
</main>
