.contact-intro {
  min-height: 35vh;
  width: 100%;
  padding: 5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    width: 66.666667%;
    padding: 8rem 0;
  }

  .contact-label {
    margin-bottom: 0;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.2em;

    color: #a970ff;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.02em;

    color: #eee7dc;

    @media (min-width: 768px) {
      font-size: 64px;
      line-height: 1.1;
      letter-spacing: -0.04em;
    }
  }

  p {
    max-width: 42rem;
    margin-bottom: 2rem;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.7;
    font-weight: 400;

    color: #a79ca8;
  }

  .contact-status {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    .contact-status-indicator {
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 9999px;

      background-color: #f2a65a;

      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }

    span {
      font-family: 'Inter', sans-serif;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      letter-spacing: 0.05em;

      color: #d98e5f;
    }
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
