<section class="contact-layout" id="contact">
  <!-- Left: Contact Details Card -->
  <div class="contact-details">
    <div class="contact-details-card">
      <div class="contact-details-content">
        <!-- Direct -->
        <div>
          <h3>Direct</h3>

          <a href="mailto:{{ contactEmail }}">
            {{ contactEmail }}

            <span class="material-symbols-outlined"> arrow_forward </span>
          </a>
        </div>

        <!-- Location -->
        <div>
          <h3>Location</h3>

          <div class="contact-info">
            <span
              class="material-symbols-outlined contact-location-icon"
              style="font-variation-settings: 'FILL' 1"
            >
              location_on
            </span>

            {{ contactLocation }}
          </div>
        </div>

        <!-- Timezone -->
        <div>
          <h3>Timezone</h3>

          <div class="contact-info">
            <span class="material-symbols-outlined contact-timezone-icon"> schedule </span>

            {{ contactTimezone }}
          </div>
        </div>

        <!-- Response Time -->
        <div>
          <h3>Response Time</h3>

          <div class="contact-info-text">{{ contactResponseTime }}</div>
        </div>
      </div>

      <div class="contact-details-footer">
        <p>Prefer email? That works best for detailed project briefs.</p>

        <div class="contact-socials">
          <a href="{{ contactGitHubUrl }}" target="_blank" rel="noopener noreferrer">
            <span class="material-symbols-outlined">code</span>
          </a>

          <a href="{{ contactLinkedInUrl }}" target="_blank" rel="noopener noreferrer">
            <span class="material-symbols-outlined">work</span>
          </a>

          <a href="tel:{{ contactPhoneNumber }}">
            <span class="material-symbols-outlined">chat</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Right: Contact Form Card -->
  <div class="contact-form-container">
    <div class="contact-form-card">
      <form class="contact-form" id="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        @if (serverError()) {
          <div class="error">
            {{ serverError() }}
          </div>
        }

        <div class="form-row">
          <div class="form-field">
            <label>Name</label>

            <input type="text" placeholder="John Doe" formControlName="name" required />
            @if (
              contactForm.get('name')?.invalid &&
              (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)
            ) {
              @if (contactForm.get('name')?.hasError('required')) {
                <small>Your name is required</small>
              }
            }

            @if (contactForm.get('name')?.errors?.['server']) {
              <small>
                {{ contactForm.get('name')?.errors?.['server'] }}
              </small>
            }
          </div>

          <div class="form-field">
            <label>Email</label>

            <input type="email" placeholder="john@example.com" formControlName="email" required />

            @if (
              contactForm.get('email')?.invalid &&
              (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)
            ) {
              @if (contactForm.get('email')?.hasError('required')) {
                <small>Your email is required</small>
              }
            }
            @if (contactForm.get('email')?.hasError('email')) {
              <small>Please enter a valid email address</small>
            }

            @if (contactForm.get('email')?.errors?.['server']) {
              <small>
                {{ contactForm.get('email')?.errors?.['server'] }}
              </small>
            }
          </div>
        </div>

        <div class="form-field form-message">
          <label>Message</label>

          <textarea
            placeholder="Tell me about your project..."
            required
            formControlName="message"
          ></textarea>

          @if (
            contactForm.get('message')?.invalid &&
            (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)
          ) {
            @if (contactForm.get('message')?.hasError('required')) {
              <small>Your message is required</small>
            }
          }

          @if (contactForm.get('message')?.errors?.['server']) {
              <small>
                {{ contactForm.get('message')?.errors?.['server'] }}
              </small>
            }
        </div>

        <button type="button">Send Message</button>
      </form>

      <!-- Success State overlay -->
      <div class="success-state" id="successState">
        <div class="success-icon">
          <span class="material-symbols-outlined"> check_circle </span>
        </div>

        <h3>Message sent</h3>

        <p>I'll get back to you within 24 hours.</p>

        <button type="button">Send another message</button>
      </div>
    </div>
  </div>
</section>
