<section class="hero" id="about">
  <div class="hero__content">
    <h1 class="hero__title">
      {{ titleLead }}
      <span class="gradient-text-uv">{{ titleSpan }}</span>
    </h1>

    <p class="hero__description">
      {{ tagline }}
    </p>

    <div class="hero__actions">
      <a class="hero__primary-action" routerLink="projects">
        Explore Projects

        <span class="material-symbols-outlined"> arrow_forward </span>
      </a>

      <a class="hero__secondary-action" routerLink="about"> Read My Journey </a>
    </div>
  </div>

  <div class="hero__visual">
    <div class="hero__glow"></div>

    <img class="hero__image" src="{{ heroImgUrl }}" alt="{{ heroImgAlt }}" />

    <div class="hero__tag hero__tag--heroTag1">
      <span></span>
      {{ heroTag1 }}
    </div>

    <div class="hero__tag hero__tag--heroTag2">
      <span></span>
      {{ hearoTag2 }}
    </div>

    <div class="hero__tag hero__tag--heroTag3">
      <span></span>
      {{ heroTag3 }}
    </div>
  </div>
</section>
