@use './colors' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  height: 100%;
}

body {
  margin: 0;
  background-color: $color-background;
  color: $color-text;
  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Space Grotesk', sans-serif;
  }
}

html,
body {
  margin: 0;
  min-width: 0;
  width: 100%;
  overflow-x: clip;
}
