// Colors

$color-background: #0c0912;
$color-surface: #15130d;
$color-surface-graphite: #16111f;
$color-surface-container: #221f19;
$color-surface-container-low: #1e1b15;
$color-surface-container-lowest: #100e08;
$color-surface-container-high: #2d2a23;
$color-surface-container-highest: #38342d;

$color-primary: #d6baff;
$color-primary-container: #ab73ff;

$color-secondary: #ffb873;
$color-tertiary: #ffb68b;
$color-tertiary-container: #c87f52;

$color-text: #e8e2d7;
$color-text-muted: #cdc3d6;
$color-text-lavender-stone: #a79ca8;

$color-outline: #968d9f;
$color-outline-variant: #4b4453;
$color-border: #2a2133;

$color-error: #ffb4ab;

// Gradient colors

$gradient-ultra-start: #a970ff;
$gradient-ultra-end: #6c4abf;

$gradient-acacia-start: #f2a65a;
$gradient-acacia-end: #d98e5f;

$color-elevated-baobab: #221a2c;
