<nav class="navbar">
  <div class="navbar__container">
    <a
      class="navbar__brand"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      benie.dev

      <span class="navbar__brand-dot"></span>
    </a>

    <div class="navbar__links">
      <a routerLink="projects" routerLinkActive="active">Projects</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
    </div>

    <button class="navbar__connect" (click)="goToContact()">Let's Connect</button>

    <button class="navbar__menu">
      <span class="material-symbols-outlined">menu</span>
    </button>
  </div>
</nav>
