@use '../../../../assets/styles/colors' as *;
@use '../../../../assets/styles/d-flex' as d-flex;

.page-context-header {
  max-width: 1280px;
  margin-inline: auto;
  padding-top: 120px;
  padding-bottom: 48px;
  padding-inline: 32px;

  @include d-flex.flex($justify: space-between, $align: flex-end);

  border-bottom: 1px solid $color-border;

  h1 {
    margin: 0;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    font-weight: 700;

    color: $color-text;
  }

  &__meta {
    padding-bottom: 8px;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 400;

    color: $color-text-lavender-stone;
  }
}
