<section class="exploring">
  <div class="exploring__banner">
    <div class="exploring__overlay"></div>

    <div class="exploring__label">
      <span class="material-symbols-outlined"> explore </span>

      <span
        >Currently Exploring: <small>{{ exploringCurrently }}</small></span
      >
    </div>

    <div class="exploring__content">Next: {{ exploringNext }}</div>

    <div class="exploring__arrow">
      <span class="material-symbols-outlined"> east </span>
    </div>
  </div>
</section>
