@if (projectsData.featuredProject(); as project) {
  <section class="featured-work" id="projects">
    <div class="featured-work__heading">
      <h2>Featured Work</h2>
      <div class="featured-work__line"></div>
    </div>

    <div class="featured-work__card">
      <div class="featured-work__image-wrapper">
        <div class="featured-work__mobile-overlay"></div>

        <img
          class="featured-work__image"
          src="{{ project.snapshot }}"
          alt="A snapshot of the featured project"
        />
      </div>

      <div class="featured-work__content">
        <div>
          <div class="featured-work__label">Case Study</div>

          <h3>{{ project.name }}</h3>
        </div>

        <p>
          {{ project.long_description }}
        </p>

        <div class="featured-work__tags">
          @for (skill of project.technologies; track skill) {
            <span>{{ skill.name }}</span>
          }
        </div>

        <div class="featured-work__actions">
          <button class="featured-work__case-study" (click)="goToFeatured()">
            Case Study

            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </button>

          <button class="featured-work__demo" (click)="openDemo(project.details.live_site)">
            Demo

            <span class="material-symbols-outlined"> open_in_new </span>
          </button>
        </div>
      </div>
    </div>
  </section>
}
