@use '../../../../assets/styles/colors' as *;

.project-description {
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-bottom: 128px;
  }

  background-color: $color-surface;

  border-left: 2px solid $gradient-ultra-end;

  border-radius: 0 8px 8px 0;

  padding: 24px;

  @media (min-width: 768px) {
    padding: 40px;
  }

  p {
    max-width: 896px;

    margin: 0;

    color: $color-text;

    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
  }
}
