@if (projectDetails()) {
  <section class="project-details">
    <!-- Left Meta Panel -->
    <aside class="project-details__meta">
      <div class="project-details__meta-content">
        <div>
          <h3>Tech Stack</h3>

          <div class="project-details__stack">
            <div>
              <h4 class="project-details__stack-title project-details__stack-title--frontend">
                Frontend
              </h4>

              <div class="project-details__tags">
                @for (frontEnd of technologies()?.frontEnd; track frontEnd) {
                  <span>{{ frontEnd }}</span>
                }
              </div>
            </div>

            <div>
              <h4 class="project-details__stack-title project-details__stack-title--backend">
                Backend
              </h4>

              <div class="project-details__tags">
                @for (backEnd of technologies()?.backEnd; track backEnd) {
                  <span>{{ backEnd }}</span>
                }
              </div>
            </div>

            <div>
              <h4 class="project-details__stack-title project-details__stack-title--other">
                Other
              </h4>

              <div class="project-details__tags">
                @for (otherTech of technologies()?.otherTechs; track otherTech) {
                  <span>{{ otherTech }}</span>
                }
              </div>
            </div>
          </div>
        </div>

        <div>
          <a
            class="project-details__live-site"
            href="{{ projectDetails()?.details?.live_site }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            Visit Live Site

            <span class="material-symbols-outlined"> open_in_new </span>
          </a>
        </div>
      </div>
    </aside>

    <!-- Right Narrative -->
    <div class="project-details__narrative">
      <section>
        <div class="project-details__section-header">
          <span>01</span>
          <h2>Problem</h2>
        </div>

        <p>
          {{ projectDetails()?.details?.problem }}
        </p>
      </section>

      <section>
        <div class="project-details__section-header">
          <span>02</span>
          <h2>Solution</h2>
        </div>

        <p>
          {{ projectDetails()?.details?.solution }}
        </p>
      </section>

      <section>
        <div class="project-details__section-header">
          <span>03</span>
          <h2>Key Features</h2>
        </div>

        <div class="project-details__features">
          @for (feature of projectDetails()?.details?.key_features; track feature.title) {
            <div class="project-details__feature">
              <span>{{ feature.title }}</span>
              <span>{{ feature.description }}</span>
            </div>
          }
        </div>
      </section>

      @if (projectDetails()?.details?.impacts) {
        <section>
          <div class="project-details__section-header">
            <span>04</span>
            <h2>Impacts</h2>
          </div>

          <div class="project-details__features">
            @for (impact of projectDetails()?.details?.impacts; track impact.title) {
              <div class="project-details__feature">
                <span>{{ impact.title }}</span>
                <span>{{ impact.description }}</span>
              </div>
            }
          </div>
        </section>
      }

      @if (projectDetails()?.details?.challenges) {
        <section>
          <div class="project-details__section-header">
            <span>04</span>
            <h2>Challenges</h2>
          </div>

          <div class="project-details__features">
            @for (challenge of projectDetails()?.details?.challenges; track challenge.title) {
              <div class="project-details__feature">
                <span>{{ challenge.title }}</span>
                <span>{{ challenge.description }}</span>
              </div>
            }
          </div>
        </section>
      }
    </div>
  </section>
}
